.a-first {
    text-decoration: none;
    color: #000;
    font-size: 50px;
    margin: 50px;
    display: block;
    }

.a-first:visited {
    color: green;
}

.a-first:hover {
    color: blue;
}

.a-first:active {
    color: red;
}

.a-second {
    text-decoration: none;
    color: blue;
    font-size: 50px;
    margin: 50px;
    display: block;
}

.a-second:visited {
    color: limegreen;
}

.a-second:hover {
    color: red;
}

.a-second:active {
    color: yellow;
}

.bt {
    font-family: sans-serif;
    text-align: center;
    background-color: black;
}


