{% extends '_base.html' %}

{% block page_title %}
    Task Detail
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-9">

                <div class="card shadow my-3 p-5">
                    <h1>{{ task.title }}</h1>
                    <p class="small text-muted mt-2">Due date: {{ task.due_date }}</p>
                    <p class="mt-2">{{ task.description }}</p>
                    Tags:
                    {% for tag in task.tags.all %}
                    <h4 class="small text-muted mt-2">{{ tag }}</h4>
                    {% endfor %}
                    <p class="small text-muted mt-2">Due date: {{ task.category }}</p>
                </div>

                <div class="card shadow my-3 p-5">
                    <h3>Notes:</h3>
                    {% for note in notes %}
                        <div>
                            <small>{{ note.created_at }}</small>
                            <br>
                            <h5>{{ note.note }}</h5>
                            <h5>
                                -------------------------------------------------------------------------------------------</h5>
                        </div>
                    {% endfor %}
                </div>

            </div>
            <div class="col-9">
                <div class="card shadow my-3 p-5">
                    <h3>Add new Task:</h3>
                    <form action="{% url 'task_update' task.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group py-2">
                            <label class="py-1">Enter Task title</label>
                            <input type="text" class="form-control" placeholder="e.g. Some Title" name="title">
                        </div>
                        <div class="form-group py-2">
                            <label class="py-1">Enter Due date:</label>
                            <input type="date" class="form-control" placeholder="e.g. Some Title" name="due_date">
                        </div>
                        <div class="form-group py-2">
                            <label class="py-1">Enter Status:</label>
                            <select name="status" class="form-control">
                                <option value="none" selected>Select an Option</option>
                                {% for sk, sv in status.items %}
                                    <option value="{{ sk }}">{{ sv }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group py-2">
                            <label class="py-1">Enter Category description:</label>
                            <textarea class="form-control" name="description" rows="8"
                                      placeholder="Enter your description here..."></textarea>
                        </div>
                        <div class="form-group py-2">
                            <label class="py-1">Enter Tags:</label>
                            <select name="tag" class="form-control" multiple>
                                {% for s in tag %}
                                    <option value="{{ s.id }}">{{ s.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group py-2">
                            <label class="py-1">Enter Category:</label>
                            <select name="category" class="form-control">
                                <option value="none" selected>Select an Option</option>
                                {% for s in category %}
                                    <option value="{{ s.id }}">{{ s.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}