{% extends '_base.html' %}

{% block style %}
    .card-link {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        color: inherit;
    }
{% endblock %}

{% block page_title %}
Post List
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-9">
            <div class="row">
                {% if author_list %}
                    {% for author in author_list %}
                        <div class="col-lg-6">
                            <a href="{% url 'author_detail' author.id%}" class="card-link">
                                <div class="card shadow-sm my-3">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ author.name }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted small py-2">{{ author.email }}</h6>
                                        <p class="card-text py-3">
                                            {{ author.bio }}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <h1 class="text-bold shadow-sm">No Data Found 404!</h1>
                {% endif %}
            </div>
        </div>
        <div class="col-3">

                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">ask any questions you have about python and django</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>

        </div>
    </div>
</div>
{% endblock %}